:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }
  body {
    font-family: var(--font-family);
    color: var(--slate);
    background-color: var(--white);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  /* ---Logo--- */
  .logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
  }
  .logo-word {
    color: var(--navy-blue);
  }
  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .logo-word-footer {
    color: var(--cloud);
  }
  /* ---Menu Items--- */
  .menu-item,
  .contact-item,
  .text-benefits,
  .text-avatar,
  .text-images,
  .text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .menu-item {
    font-weight: 500;
    color: var(--navy-blue);
  }

  .menu-item {
    padding: 24px 0;
  }
  .menu-item:hover,
  .menu-item:focus,
  .link:hover,
  .link:focus,
  .contact-item:hover,
  .contact-item:focus {
    color: var(--ocean);
  }
  .link {
    color: inherit;
  }
  .contact-item,
  .text-benefits,
  .text-avatar,
  .text-images,
  .text-footer {
    font-weight: 400;
    color: var(--slate);
  }
  /* ---Titles--- */
  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin-bottom: 48px;
  }
  .title-benefits,
  .title-avatar,
  .title-images {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }
  .title-team,
  .title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
  }
  .title-hero {
    background: var(--navy-blue);
    display: flex;
    padding: 188px 0;
  }
  .title-portfolio,
  .our-portfolio-page {
    padding: 120px 0;
  }
  /* ---Buttons--- */
  .button-service {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    color: var(--white);
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    border: none;
  }
  .button-service:hover,
  .button-service:focus {
    background-color: var(--ocean);
  }
  /* ---Container--- */
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  /* ---Header--- */
  .header-box {
    border-bottom: 1px solid var(--cornflower);
  }
  .container-menu {
    display: flex;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-item,
  .link {
    padding: 24px 0;
  }
  .contacts-box {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    padding-top: 24px;
    margin-left: 332px;
  }
  /* ---Sections--- */
  /* ---1st Section--- */
  .title-hero .title {
    justify-content: center;
    max-width: 496px;
    margin: auto;
    flex-shrink: 0;
  }
  /* ---2nd Section--- */
  .benefits-page {
    padding: 120px 0;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .title-benefits {
    margin-bottom: 8px;
  }
  /* ---3rd Section--- */
  .our-team-page {
    padding: 120px 0;
    background-color: var(--cloud);
  }
  .our-team-list {
    display: flex;
    gap: 24px;
  }
  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    text-align: center;
  }
  .avatar-information {
    padding: 32px 0;
    text-align: center;
  }
  .title-avatar {
    text-align: center;
    margin-bottom: 8px;
  }
  .text-avatar {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-align: center;
  }
  /* ---4th Section--- */
  .our-portfolio-page {
    padding: 120px 0;
  }
  .portfolio-list {
    display: flex;
    flex-shrink: 0;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .portfolio-item {
    flex-basis: calc((100 - 2 * 24px) / 3);
  }
  .app-information {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
  }
  .title-images {
    margin-bottom: 8px;
  }
  /* ---Footer--- */
  .footer-box {
    background: var(--navy-blue);
    padding: 100px 0;
  }
  .text-footer {
    max-width: 264px;
  }
  /* ---Utility--- */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }